[submodule "Coal/Alamofire"]
	path = Coal/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Coal/SwiftyJSON"]
	path = Coal/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Coal/XCGLogger"]
	path = Coal/XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger
